/* Once generated, we stuff the canvas into the body's background image */
body {
  margin: 0;
  background-color: #18171C;
  color: #FFFFFF;
  /* cssfontstack.com */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

#canvas {
  display: none;
}

#content {
  font-size: x-large;
  line-height: 1.4em;
  width: 30em;
  max-width: 30em;
  margin: 5%;
  padding: 10px;
}

/* Spans the full height and width of the page, to hide the galaxy popping in */
#curtain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #18171C;
  transition: opacity 2s linear;
}

/* We add this class to #curtain to trigger our tasteful galactic fade-in */
.hidden {
  opacity: 0;
}
